.display-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.white-font {
  color: wheat;
}

.right-align {
  margin-top: 1em;
  margin-right: 5em;
  text-align: right;
}

.form-fields {
  width: 7em;
  height: 3em;

}

#save_updates {
  width: 10em;
  height: 3em;
  background-color: wheat;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

